.svg-container {
    width: 90%;
    padding-top: 8%;
}

.reactive-background {
    fill:#000000;
    fill-opacity: 0.35;
}

text {
    fill: #FFFF00;
    fill-opacity: 1;
    font-family: sans-serif;
    font-size: 10px;
}

.power rect {
    fill: #ffffff;
    fill-opacity: 0;
}

.power text {
    fill: #ffffff;
    fill-opacity: 1;
    font-family: sans-serif;
    font-size: 10px;
}

.digital text {
    fill: #ffffff;
    fill-opacity: 1;
    font-family: sans-serif;
    font-size: 10px;
}

.digital rect.pin {
    fill: #ffffff;
    fill-opacity: 1;
}

.digital.off rect.pin {
    fill: #9f9f9f;
    fill-opacity: 1;
}

.analog text {
    fill: #ffffff;
    fill-opacity: 1;
    font-family: sans-serif;
    font-size: 10px;
}

.analog rect.pin {
    fill: #ffffff;
    fill-opacity: 1;
}

.analog rect.background {
    fill:#000000;
    fill-opacity: 0.2;
}

.analog rect.bar {
    fill:#00ff00;
    fill-opacity: 0.5;
}

pre, code, kbd, samp, tt{
  font-family: "Lucida Console", Courier, monospace;
  font-size:1em;
}
